<h1>Enter your Scrabble word to calculate your score.</h1>
<form action='/answer'>
  <div class="form-group">
    <label for="word">Enter a word in ALL CAPS:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
<hr noshade>
<img src='/img/scrabble.jpg' alt='A photo of a scrabble board.'/>
